
@{
    ViewData["Title"] = "Index";
}

@model List<Products>

<h1>Ürünler</h1>

@if (TempData["status"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["status"]
    </div>
    
}


<a asp-controller="Product" asp-action="add">Ürün Ekle</a>

<table class="table">
    <thead>
    <tr>
             <th>Ürün Adı:</th>
             <th>Ürün Fiyatı:</th>
             <th>Ürün Stock: </th>
             <th>Yayınlanacak Mı: </th>
             <th>Sayınlanma Süresi </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
            <td>@item.IsPublish</td>
            <td>@item.Expire Ay</td>
            <td><a asp-controller="product" asp-action="remove" asp-route-id="@item.Id">Sil</a></td>
            <td><a asp-controller="product" asp-action="update" asp-route-id="@item.Id">Güncelle</a></td>
    </tr>
    }
    </tbody>
</table>




